@keyframes moveBackground {
  from {background-position: 1000px 0px;}
  to {background-position: 0px 0px;}
}

#myCanvas {
  border-style: dashed;
  align-self: center;
}
canvas{
  
    background-image: url("flappy_bird_background.png");
  height: 500px;
  width: 1000px;
  background-position: 0px 0px;
  background-repeat: repeat-x;;
  animation: moveBackground 25s linear infinite;

}
div{
  font-family:cursive;
  text-align:center;
}
